[submodule "libraries/WiFiManager"]
	path = libraries/WiFiManager
	url = git@github.com:tzapu/WiFiManager.git
[submodule "libraries/rapidjson"]
	path = libraries/rapidjson
	url = git@github.com:miloyip/rapidjson.git
